body {
  background-color: black !important;
  color: white !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-weight: normal !important;
}

h2 {
  text-align: center;
  font-weight: normal !important;
}

p {
  font-size: 20px;
}

.navItem {
  width: 120px;
  height: 44px;
  text-align: center;
  line-height: 44px;
}

.photoSeperator {
  background-color: rgb(111, 32, 220);
  height: 60px;
  width: 100%;
}

.whiteSpace {
  background-color: white;
  height: 10px;
  width: 100%;
}

.paddingLG {
  padding: 40px;
}

.review {}