body {
  background-color: black !important;
  color: white !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-weight: normal !important;
  font-size: 50px !important;
}

h2 {
  text-align: center;
  font-weight: normal !important;
}

p {
  font-size: 20px;
}

.navItem {
  width: 120px;
  height: 44px;
  text-align: center;
  line-height: 44px;
}

.photoSeperator {
  background-color: rgb(111, 32, 220);
  height: 60px;
  width: 100%;
}

.whiteSpace {
  background-color: white;
  height: 10px;
  width: 100%;
}

.paddingLG {
  padding: 40px;
}

.sunken {
  display: block;
  margin: auto;
  position: relative;
  top: 20px;
  z-index: 2;
}

.review {
  padding: 20px;
  border-radius: 30px !important;
  background-image: linear-gradient(#de3162, #8a2053);
}

.footerCol {
  font-size: 20px !important;
}

.center {
  display: block;
  position: relative;
  margin: auto;
  place-content: center;
}

.overBackground {
  position: relative;
  top: 100%;
  z-index: 1;
}

.galleryBack {
  background-image: url('images/gallery-background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 85%;
}

.galleryImage {
  width: 250px;
  height: 360px;
}

.reviewsBack {
  background-image: url('images/bar-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 85%;
}